{% extends "base.html" %}

{% block title %} IUPAC Namer {%endblock%}
{% block navTitle %} IUPAC Namer {%endblock%}


{% block content %}
{% from "_formhelpers.html" import render_field %}
<link href = "{{ url_for('static', filename='css/homeStyle.css') }}" rel = "stylesheet" type = "text/css"/> 

<h2 class = "header">What is the IUPAC name for this molecule?</h2>


<div class = "container">
  <div style="width:50%" class = "image">  
    <img src = '{{image}}'/>
  </div>
  <div style="width:50%" class = "image">  
    <form method="post">
        {{ render_field(form.guess) }}
      <input type="submit" value="Check your answer">
    </form>
  </div>
</div>

{%endblock%}